.main {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .inbox {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Verdana;
    color: rgb(87, 87, 87);
  }
  .second {
    display: flex;
    flex-direction: row;
  }
  
  .faker {
    width: 70px;
    border-radius: 35px;
    margin-right: 15px;
  }
  
  .third {
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .Chewy {
    font-size: 18px;
    font-weight: bold;
    font-family: verdana;
  }
  
  .time {
    font-size: 14px;
    color: rgb(120, 120, 120);
  }
  
  .biggest {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message {
    color: rgb(120, 120, 120);
  }
  